.button_hero,
.button_offer,
.button_price, {
	width: 15rem;
	height: 5rem;
	background-color: $color-1;
	border: 1px solid $color-1;
	border-radius: 25px;
	position: absolute;
	bottom: 22%;
	left: 50%;
	left: calc(50% - 7.5rem);
	cursor: pointer;
	color: $color-white;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	&:hover {
		background-color: $color-button-hover;
	}
}
.button_price {
	width: 19rem;
	left: calc(50% - 9.5rem);
}
