form {
	width: 40rem;
	height: 34rem;
	position: absolute;
	bottom: 0%;
	left: calc(50% - 20rem);
}
.form-input {
	@include input-placeholder {
		color: $color-input-placeholder;
	}
	width: 47%;
	height: 3rem;
	margin-bottom: 20px;
	font-family: 'Oswald', sans-serif;
	font-size: $font-input;
	font-weight: 100;
	border: none;
	border-bottom: 1px solid $color-black;
	outline: none;
	padding-left: 3px;
	&:focus {
		border-bottom: 1px solid $color-1;
	}
}
#formEmail {
	float: right;
}
#forMobile {
	width: 100%;
}
.form-textarea {
	width: 100%;
	height: 15rem;
	font-family: 'Oswald', sans-serif;
	margin-top: 15px;
	font-size: $font-input;
	outline: none;
	border: none;
	border-bottom: 1px solid $color-black;
	padding-left: 3px;
	@include input-placeholder {
		color: $color-input-placeholder;
	}
	&:focus {
		border-bottom: 1px solid $color-1;
	}
}
.form-button {
	width: 15rem;
	height: 5rem;
	background-color: $color-1;
	border: 1px solid $color-1;
	@include border-radius(25px);
	position: absolute;
	cursor: pointer;
	color: $color-white;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	bottom: 6%;
	left: calc(100% - 15rem);
	&:hover {
		background-color: $color-button-hover;
	}
}
